


  <div id="wrapper">

    <app-sidebar></app-sidebar>
 
     
  
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
  
          <app-topbar></app-topbar>
       <!-- modal -->
          <div >
           
           
           <!-- Modal -->
           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <p>Are you sure ? </p>
                   
                   <p>Do you really want to delete these <b>{{obj.product_name}}</b> product? This process cannot be undone.</p>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <!-- <button type="button" class="btn btn-primary">Delete</button> -->
                    <button type="button" style="color: whitesmoke;" class="btn btn-danger" data-dismiss="modal" (click)="delete(obj._id)" >Delete</button>
                 </div>
               </div>
             </div>
           </div>
          </div>
          <!-- modal -->
        
          
          <div class="container col-md-10 col-md-offset-2">
            <h3>View Product</h3>
            <hr>
          
 
          <div>
             
  
              <table class="table table-striped">
                <tr>
                  <th>No</th>
                  <th> Product Name</th>
                  <th>Brand Name</th>
                  <th>Category</th>
                  <th>Price</th>
                  <th>Quantity/Unit</th>
                  <th>stock status</th> 
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
           
         
                <tr *ngFor="let u of table, let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{u.product_name}}</td>
                  <td>{{u.company_name}}</td>
                  <td>{{u.category}}</td>
                  <td>{{u.price}}</td>
                  <td>{{u.quantity}} {{unit}}</td>
                  <td>{{u.stock_status}}</td>
                  
              
                  <!-- <td ><img *ngIf src="https://sheltered-woodland-33544.herokuapp.com/product_image/{{u.imgage}}" height="100px" width="100px"></td> -->
                  <!-- <td>
                     <img src="https://sheltered-woodland-33544.herokuapp.com/product_image/{{u.image}}" height="100px" width="100px">
                  </td> -->
                  <td>
                    <button type="button" style="color: whitesmoke;" class="btn btn-info" (click)="editproduct(u._id)" >Edit</button>
                  </td>
                  <td>
                    <!-- <button type="button" style="color: whitesmoke;" class="btn btn-info" (click)="myFunction(u._id)" >Delete</button> -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="deleteconfirmation(u)">
                     Delete
                   </button>
                   </td>
                  
                </tr>
              
              
              </table>
 
            </div>
            </div>
      </div>
    </div>
    </div>
    
  
   <!-- // {{u.https://sheltered-woodland-33544.herokuapp.com/product_image/}}  -->
  
  
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 