


  <div id="wrapper">

    <app-sidebar></app-sidebar>
 
     
  
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
  
          <app-topbar></app-topbar>
       <!-- modal -->
          <div >
           
           
           <!-- Modal -->
           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Delete Promo</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <p>Are you sure ? </p>
                   
                   <p>Do you really want to delete these <b>{{obj.coupon_name}}</b> Category? This process cannot be undone.</p>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <!-- <button type="button" class="btn btn-primary">Delete</button> -->
                    <button type="button" style="color: whitesmoke;" class="btn btn-danger" data-dismiss="modal" (click)="delete(obj._id)">Delete</button>
                 </div>
               </div>
             </div>
           </div>
          </div>
          <!-- modal -->
          <div>
            <div class='col-md-4 col-md-offset-2'>
            <h3>Promo Section</h3>
          </div>
            <!-- <button type="button" class="btn btn-primary btn-sm">Add Product</button> -->
            <div class="text-right col-md-6" style="margin: 100px 0px 0px;">
              <!-- <div class="text-right" class="container col-md-4" style="margin: ">  -->
              <button type="button" class="btn btn-primary" title="Add promo" routerLink="/addpromo">Add Promo</button>
          </div>
        </div>
          
          <div class="container col-md-10 col-md-offset-2">
            
            <hr>
          
 
          <div>
             
  
              <table class="table table-striped">
                <tr>
                  <th>No</th>
                  <th> Promo Name</th>
                  <th>Promo code</th>
                  <th>Discount Type</th>
                  <th>Discount Amount </th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Action</th>
                </tr>
           
         
                <tr *ngFor="let u of table, let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{u.coupon_name}}</td>
                  <td>{{u.coupon_code}}</td>
                  <td>{{u.discount_type}}</td>
                  <td>{{u.discount_amount}}</td>
                  <td>{{u.start_date}}</td>
                  <td>{{u.end_date}}</td>
                  
                  <td>
                    <button type="button" style="color: whitesmoke;" class="btn btn-info" (click)="editproduct(u._id)" >Edit</button>
                  &nbsp;
                    <!-- <button type="button" style="color: whitesmoke;" class="btn btn-info" (click)="myFunction(u._id)" >Delete</button> -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="deleteconfirmation(u)">
                     Delete
                   </button>
                   </td>
                  
                </tr>
              
              
              </table>
 
            </div>
            </div>
      </div>
    </div>
    </div>
    
  
   <!-- // {{u.https://sheltered-woodland-33544.herokuapp.com/product_image/}}  -->
  
  
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 